

.bg-content {
  min-height: 300px;
}

.icons-content {
  margin-top: -80px;
}

.items-content {
  img {
    border: 1px solid #000;
    width: 100%;
    height: auto;
  }

}

.heading {

  h3 {
    max-height: 81px;
  }

  img {
    max-height: 81px;
  }
}
