
.Store {

  padding-top: 70px;

  .nav-item {

    font-family: pt sans,sans-serif;
    cursor: pointer;
    border-top: 1px solid #0f2b29;
    border-bottom: 1px solid #000;
    background-color: #0C1B1B;
    border-radius: 0 !important;

    a {
      color: #FFF;
    }

    .active {
      color: #A3DC00 !important;
      border-right: 1px solid #a3dd00;
      background-image: linear-gradient(270deg,rgba(163,221,0,0.06),transparent 57%);
      background-color: #0f2b29;
    }
  }


  .tabs-container {
    box-shadow: inset 0 0 0 1px #142b2b, 0 0 30px -3px #000 !important;
  }

  .store-content {
    border: 1px solid #000;
    box-shadow: inset 0 0 0 1px #142b2b, 0 0 30px -3px #000 !important;
  }

  .tab-data {


    &:hover {
      h5 {
        color: #A3DC00 !important;
      }
    }
  }


}
