
.Heading {

  img {
    max-height: 65px;
  }

  div {
    max-height: 65px;
  }

  .notice-sub {
    margin-top: -10px;
  }

  .main-subtitle {
    line-height: 1;
    font-family: pt sans,sans-serif;
    font-size: 13px;
  }

}
